target/
clojure/
clojure/*
*/target/*
*/*/target/*
.project
.classpath
.settings/*
target/*
*.class
*/.settings/*
/core/.settings/org.eclipse.wst.common.component
pure4j-checker/*.pure
pure4j-cf/ext
~                                                    
